body {
    height: 1060px;
    width: 1280px;
}
.fone1 {
    width: 100%;
    height: 6.2%;
    position: static;
    background: #169edd;
    background: -moz-linear-gradient(top, #169edd 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
    background: -webkit-linear-gradient(top, #169edd 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
    background: linear-gradient(to bottom, #169edd 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
    background: -webkit-gradient(to bottom, #169edd 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
    background: -webkit-linear-gradient(to bottom, #169edd 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
    background: -o-linear-gradient(to bottom, #169edd 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#169edd', endColorstr='#1e5799', GradientType=0);
}
.fone2 {
    width: 100%;
    height: 13.5%;
    position: static;
    background: #11cfdd;
    background: -moz-linear-gradient(top, #11cfdd 0%, #53cbf1 33%, #fcf9fa 100%);
    background: -webkit-linear-gradient(top, #11cfdd 0%, #53cbf1 33%, #fcf9fa 100%);
    background: linear-gradient(to bottom, #11cfdd 0%, #53cbf1 33%, #fcf9fa 100%);
    background: -webkit-gradient(to bottom, #11cfdd 0%, #53cbf1 33%, #fcf9fa 100%);
    background: -webkit-linear-gradient(to bottom, #11cfdd 0%, #53cbf1 33%, #fcf9fa 100%);
    background: -o-linear-gradient(to bottom, #11cfdd 0%, #53cbf1 33%, #fcf9fa 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#11cfdd', endColorstr='#fcf9fa', GradientType=0);
}
.fonea {
    width: 100%;
    height: 0.3%;
    position: static;
    background-color: #59e9f4;
}
.fone3 {
    width: 100%;
    height: 80%;
    position: static;
    background: #3db8c3;
    background: -moz-linear-gradient(top, #3db8c3 0%, #0c6e98 100%);
    background: -webkit-linear-gradient(top, #3db8c3 0%, #0c6e98 100%);
    background: linear-gradient(to bottom, #3db8c3 0%, #0c6e98 100%);
    background: -webkit-gradient(to bottom, #3db8c3 0%, #0c6e98 100%);
    background: -webkit-linear-gradient(to bottom, #3db8c3 0%, #0c6e98 100%);
    background: -o-linear-gradient(to bottom, #3db8c3 0%, #0c6e98 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3db8c3', endColorstr='#0c6e98', GradientType=0);
}
.container {
    position: absolute;
    height: 988px;
    width: 1000px;
    background-color: white;
    top: 38px;
    left: 150px;
    box-shadow: 0 0 5px #969696;
}
.header {
    width: 100%;
    height: 176px;
}
.logo {
    padding-left: 1px;
}
.contacts {
    float: right;
    color: #3c99c1;
    width: 16%;
    line-height: 1.5;
    margin-top: 7px;
    height: 80px;
}
.container a {
    color: #3c99c1;
}
.bold {
    font-weight: bold;
}
.contacts p {
    font-size: 0.8em;
}
.countries {
    clear: right;
    float: right;
    margin: 24px 30px 0 0;
}
.countries li {
    display: inline-block;
    text-align: center;
    font-size: x-small;
    padding: 0 4px;
}
.sea {
    height: 238px;
}
.menu {
    width: 100%;
    height: 28px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    background-color: #343434;
    color: white;
}
.menu .mainmenu> li {
    display: inline-block;
    padding: 7px 29px;
    position: relative;
}
.mainmenu {
    margin-left: 37px;
    font-family: sans-serif;
    font-size: 0.8em;
}
.mainmenu a {
    text-decoration: none;
    color: white;
}
ul li ul {
    display: none;
    position: absolute;
    left: 22px;
    top: 25px;
    margin: 0;
    width: 140px;
    background: #343434;
    line-height: 2;
    padding-left: 10px;
    }
ul li ul li {
    float: none;
    display: block;
    background: none;
    }

ul li:hover ul {
    display: block;
}
.lorem {
    position: static;
    display: flex;
    justify-content: space-between;
    height: 538px;
    width: 100%;
}
.info, .news {
    width: 210px;
    height: 100%;
    background-color: #edeef0;
    border: 1px solid #c1c2c4;
    text-align: center;
    color: #474b4a;
    line-height: 1.7;
    font-family: sans-serif;
    font-size: 90%;
    padding-top: 5px;
    }

h4 {
    font-size: 120%;
    font-weight: 600;
}

.copyright {
  position: absolute;
left: 551px;
top: 1035px;
font-size: 80%;
color: #ffffff;
}

@media only screen and (max-width: 320px) {

body { font-size: 2em; }
h1 {  font-size: 5.9vw;}
h2 {  font-size: 3.0vh;}
p {  font-size: 2vmin;}
}
